<div class="container, text-center">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>About This Project</h1>
            <p>This is my first attempt at building a website as a part of The Essential Web Developer Course at Upskill.com </p>
            The course consists of 200 lessons covering a wide range of web development aspects.</br>
            <h2>About the instructor</h2></br>
            Professional Web Developer Rob Dey has great experince with full-stack (front/back-end) development.
            He has built websites for major companies and brands including Coca-Cola, Toyota, First Data, Bennigan's and more.</br>
            <%= image_tag "rob.jpg", class:'Images'%>
            <h2>Content covered</h2>
            This course begins with a deep dive into full-stack web development and learning about how apps work. It teaches basic principles of HTML and 
            CSS3 and efficient software development principles in order to implement those from the very start.  
        </div>
    </div>
</div>