<% if current_user.plan_id == 2 %>
    <div class ="text-center img-input">
        <h1>Premium Content</h1>
        <p>As a part of your Premium Membership, please enjoy this picture of a sleeping capybara.</p>
        <%= image_tag "pro.jpg", class:'Images img-input' %>
        <h5>I hope it calms your nerves.</h5>
        <div class="img-input">
            <p>As a Pro Member you can also see other members' contact information when viewing their profiles.</p>
        </div>
    </div>
<% else %>
    <div class ="text-center img-input">
        <h1>Only Premium Members can view this page!</h1>
    </div>
<% end %>